body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

messageAuthor {
  margin-right: '0.5em';
  font-size: '12pt';
  padding-top: 5;
};

messageContent {
  padding: '18px';
  border-radius: '10px';
  max-width: '80%';
}

.transmitter {
  background: 'blue';
  color: 'white';
}

.receiver {
  background: '#95F0B8';
  color: 'black';
}
